@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.Card{
    background-color: white;
    height: 49vh;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}
.Card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.mapped{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap : 1rem;
    padding: 5%;
    justify-content: space-between;
}
.absence{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.absence h1{
    padding-top: 5rem;
    font-size: 50px;
}
.absence h2{
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}