@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.Projects {
    background: linear-gradient(black,rgb(125, 125, 245));
    color: white;
    font-family: 'Rubik', sans-serif;
}
.Projects h1{
    margin: 0;
    font-size: 2rem !important;
    padding-top: 5%;
    margin-left: 6%;
}
