@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.skill-display{
    font-family: 'Rubik', sans-serif;
    border-radius: 40px;
    width: 70%;
    padding: 2rem 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;

    color: white;
    background-color: rgb(13, 13, 13);
}
.skill-display div img{
    height: 30px;
    margin: 10px 5px;
    padding-top: 10px;
}

