.sizing{
    text-align: center;
    margin-top: 90px;
}
.siz{
    font-size: 80px;
}
.above-text{
    margin: 35px;
    font-size: 18px;
    color:  rgb(153, 152, 151);
}
.below-text{
    margin-top: 45px;
    font-size: 18px;
    color:  rgb(153, 152, 151);
}
.below-text-black{
    margin-top: 23px;
    font-size: 18px;
    color: black;
}
.time{
    width: 67%;
    margin-left: 24%;
}
.tab{
    color: black;
    margin: auto;
    margin-top: 45px;
    border-radius: 25px;
    background-color: #dec9c9;
    padding: 10px 15px;
    width: fit-content;
    font-weight: bolder;
}
.flex{
    display: flex;
}
.skills{
    margin-top: 5px;
}
.sizo{
    font-size: 50px;
    margin-top: 30px;
}
.connect-tab{
    padding-top: 50px;
    text-align: center;
    background-image: url("../assets/pic.avif");
    background-size: cover;
}
.card{
    padding :2px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}
.card img{
    border-radius: 20px;
}
.top-margin{
    margin-top: 20px;
}
.bold{
    font-weight:bolder;
}
.space{
    justify-content: space-between;
    padding: 0 10px;
    font-size: 19px;
}
.about{
    margin-top: 100px;
    padding-bottom: 70px;
}
.less-wide{
    padding-top: 20px;
    margin: auto;
    width: 70%;
}
.bigger{
    font-size: 20px;
}
.about-me{
    line-height: 1.6;
    text-align: center;
    padding-top: 40px;
    width: 40%;
    padding-bottom: 30px;
    margin: 20px auto ;
    border: rgb(201, 193, 193) solid 5px;
}
.my-pic{
    height: 400px;
    margin-top: 120px;
    margin-left: 100px;
    border:#dec9c9 30px solid; 
}
.achieve{
    padding-top: 30px;
    margin-top: 100px;
    background-image: url('../assets/skin.jpg');
    background-size: cover;
    padding-bottom: 70px;
}
